.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.helloBtn,
.secondBtn,
.thirdButton {
  padding: 12px;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
}

.secondBtn {
  background-color: yellow;
}

.thirdButton {
  background-color: green;
}

span {
  text-decoration: line-through;
}
